<%- include('partials/head.ejs') %>
<script src="/Controllers/analyze/controller.js" type="text/javascript"></script>
</head>
<body>
    <div class="navigation"><%- include('partials/navigation.ejs') %></div>
    <div class="search"><%- include('partials/analyze/search.ejs') %></div>
    <div class="sidebar"><%- include('partials/sidebar.ejs') %></div>
    <div class="results"><%- include('partials/analyze/results.ejs') %></div>

<% include('partials/end.ejs') %>