<%- include('partials/head.ejs') %>

<script src="/Controllers/index/controller.js" type="text/javascript"></script>
</head>
   
<body>
    <div class="navigation">
        <%- include('partials/navigation.ejs') %>
    </div>
    <div class="sidebar">
        <%- include('partials/sidebar.ejs')%>
    </div>
    <div class="mainActivity">
        <%- include('partials/index/mainActivity.ejs') %>
    </div>
<%- include('partials/end.ejs') %>