<%- include('partials/head.ejs') %>
<script src="/Controllers/search/controller.js" type="text/javascript"></script>
</head>
<body>
    <div class="navigation"><%- include('partials/navigation') %></div>
    <div class="search"><%- include('partials/search/search.ejs') %></div>
    <div class="sidebar"><%- include('partials/sidebar.ejs') %></div>
    <div class="results"><%- include('partials/search/results.ejs') %></div>

<%- include('partials/end.ejs') %>